.body {
    background-image: url(/resource/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: content-box;
    background-size: cover;
}

.body-registration {
    background-color: #bfa099;
}

.body-add-books {
    background-color: #c6c8ca;
}

.nav-button-group {
    width: 100%;
}

.nav-btn {
    margin-top: 70px;
    padding-right: 180px;
    padding-bottom: 20px;
    border: none;
    background-color: inherit;
    font-size: 38px;
}

.nav-btn:hover {
    border: none;
    outline: none;
    color: #802e36;
}

.menu-style {
    background-color: #0c5460;
    margin-left: -350px;
    margin-right: -350px;
}

.form-login {
    position: relative;
    left: -330px;
    width: 1000px;
    margin-top: 20%;
}

.btn-function {
    position: relative;
    left: 10px;
    margin: 50px;
    border: none;
    background-color: inherit;
    font-size: 38px;
}

.btn-function:hover,:focus {
    border: none;
    outline: none;
    color: #802e36;
}

.a-function {
    position: relative;
    left: 10px;
    margin: 50px;
    background-color: inherit;
    font-size: 38px;
}

.a-function:hover,:focus {
    text-decoration: none;
    color: #802e36;
}

.form-book {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fcf8e3;
}

.btn-book {
    position: relative;
    left: 350px;
    padding: 20px;
}

.btn-book-delete {
    position: relative;
    top: 20px;
    font-size: 30px;
}

.btn-book-edit {
    position: relative;
    top: 80px;
    left: -150px;
    font-size: 30px;
}

.btn-book-delete :hover, :focus {
    text-decoration: none;
}

.btn-book-edit :hover, :focus {
    text-decoration: none;
}

.btn-delete {
    font-size: 30px;
    padding-right: 50px;
}

.btn-edit {
    font-size: 30px;
}

.btn-delete :hover, :focus {
    text-decoration: none;
}

.btn-edit :hover, :focus {
    text-decoration: none;
}

.a-cart {
    font-size: 30px;
}

.a-cart:hover,:focus {
    text-decoration: none;
}

.parameter-book {
    font-size: 30px;
    padding: 30px;
}

.persImageBook {
    position: relative;
    left: 300px;
    width: 600px;
    height: 700px;
    padding: 30px;
}

.heading {
    position: relative;
    left: 900px;
    padding: 50px;
}

.welcome {
    position: relative;
    top: 300px;
    left: 100px;
    font-size: 85px;
}

.imageBook {
    width: 150px;
    height: 200px;
}

.button-login {
    background-color: #752c42;
    color: #fcfff0;
}

.button-registr {
    background-color: #0c6975;
    color: #d6af9a;
}

.button-registr:hover {
    box-shadow: 0 0 10px 10px #0a343e;
}

.header {
    text-align: center;
    color: #0c6975;
    padding: 20px;
}

.field:hover {
    color: #802e36;
    box-shadow: 0 0 10px 10px #802e36;
}

.label {
    font-size: 200%;
    color: #fcf8e3;
}

.footer {
    position: fixed;
    left: 0; bottom: 0;
    padding-top: 19px;
    color: #f7f1e7;
}

.footer-button {
    position: fixed;
    right: 0; bottom: 0;
    padding-right: 1%;
}

.button-footer {
    font-size: 50px;
    border: none;
    background-color: inherit;
    color: #3d0c43;
}

.button-footer:hover {
    text-decoration: none;
    color: #ce9ab9;
}


.button {
    border: none;
    background-color: inherit;
}

.button:hover {
    border: none;
}

.a-registration {
    position: absolute;
    top:1%;
    left: 45%;
    color: #802e36;
    font-size: 300%;
}

.a-registration:hover {
    text-decoration: none;
    color: #fcfae4;
}

.a1 {
    color: #f1b0b7;
}

.a1:hover {
    text-decoration: none;
    color: #fcf8e3;
}
