.body {
    background-image: url(/resource/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: content-box;
    background-size: cover;
}

.body-registration {
    background-color: #bfa099;
}

.body-add-books {
    background-color: #c6c8ca;
}

.my-nav {
    width: 100%;
    margin-top: 5%;
}

.nav-button-group {
    width: 100%;
}

.nav-btn {
    margin: 5%;
    padding: 5%;
}

.form-login {
    position: relative;
    right: 27%;
    width: 90%;
    margin-top: 15%;
}

.imageBook {
    width: 150px;
    height: 200px;
}

.button-login {
    background-color: #752c42;
    color: #fcfff0;
}

.button-registr {
    background-color: #0c6975;
    color: #d6af9a;
}

.button-registr:hover {
    box-shadow: 0 0 10px 10px #0a343e;
}

.header {
    text-align: center;
    color: #0c6975;
    padding: 20px;
}

.field:hover {
    color: #802e36;
    box-shadow: 0 0 10px 10px #802e36;
}

.label {
    font-size: 200%;
    color: #fcf8e3;
}

.footer {
    position: fixed;
    left: 0; bottom: 0;
    padding-top: 19px;
    color: #f7f1e7;
}

.footer-button {
    position: fixed;
    right: 0; bottom: 0;
    padding-right: 1%;
}

.button-footer {
    font-size: 50px;
    border: none;
    background-color: inherit;
    color: #3d0c43;
}

.button-footer:hover {
    text-decoration: none;
    color: #ce9ab9;
}


.button {
    border: none;
    background-color: inherit;
}

.button:hover {
    border: none;
}

.a-registration {
    position: absolute;
    top:1%;
    left: 45%;
    color: #802e36;
    font-size: 300%;
}

.a-registration:hover {
    text-decoration: none;
    color: #fcfae4;
}

.a1 {
    color: #f1b0b7;
}

.a1:hover {
    text-decoration: none;
    color: #fcf8e3;
}
