.body-registration {
    background-image: url(/resource/images/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: content-box;
    background-size: cover;
}

.body-add-books {
    background-color: #c6c8ca;
}

.header {
    text-align: center;
    color: papayawhip;
    padding: 20px;
}

.field:hover {
    color:  #802e36;
    box-shadow: 0 0 10px 10px #802e36;
}

.footer {
    position: fixed;
    left: 0; bottom: 0;
    padding-top: 19px;
    color: #f7f1e7;
}

.a1 {
    color: #3e0f0f;
    font-size: 150%;
}

.a1:hover {
    text-decoration: none;
}

.layout {
    position: relative;
    right: -200px;
}
